.home-video {
    max-width: 100%;
    max-height: 750px;
    margin: 0 auto;
    margin-top: -7px;
    border-radius: 0px 0px 50% 50%;
}

.Home-page-container {
    display: flex;
    flex-direction: column;
}

.home-title {
    position: absolute;
    width: 100%;
    top: 15%;
    margin: 0 auto;
    z-index: 1;

    color: var(--secondary-color);
    text-shadow: 2px 2px var(--text-color);
    text-align: center;

    >h2 {
        font-size: 1.5em;
    }
}

.about-us {
    min-width: 300px;
    max-width: 700px;
    
    height: fit-content;
    margin: 25px auto;
    padding: 50px;
    color: var(--primary-color);


    text-align: center;

}

.our-team {
    width: 80%;
    max-width: 815px;
    height: min-content;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    background-color: var(--secondary-color);
}

.team-box-title {
    margin: 10px;
    text-align: center;
    color: var(--primary-color);
}

.famer-image {
    border-radius: 200%;
    height: 100px;
    width: 100px;
    align-self: center;
    margin: 10px;
}

.member-box {
    max-width: 80%;
    width: 100%;
    min-height: fit-content;
    padding: 10px;
    display: flex;
    margin: 0 auto;
    background-color: var(--primary-color);
    border-radius: 20px;
}

@media only screen and (max-width: 550px) {
    .member-box {
        flex-direction: column;
        text-align: center;
    }
}



#slideshow-container {
    position: relative;
    width: 100%;
    overflow: auto;
}

#slideshow-container img {
    width: 100%;
    height: auto;
}

#arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 700px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

#arrows img {
    width: clamp(20px, 6vw, 40px);
}
#slideshow-image{
    justify-self: center;
}