.producer-dashboard {
    background-color: var(--primary-color);

    height: fit-content;
    width: 90vw;
    min-width: fit-content;
    margin: 0 auto;
    padding: 25px;

}

.dashboard-page-title {
    text-align: center;
    color: var(--primary-color);
    text-decoration: underline;
}

.Dashboard-bottom {
    display: flex;
    justify-content: space-between;
    max-width: fit-content;
    gap: 10px;
    margin: 0 auto;
    min-width: 100%;
    
}

.stock-managment{
    background-color: var(--secondary-color);
    display: flex;
    width: 100%;
    height: 200px;


    
}
.bottom-products{
    background-color: var(--secondary-color);
    margin: 10px 0px;
    min-height: 200px;
    min-width: 49.5%;
    overflow: auto;
}

.dashboard-title-bar{
    display: flex;
    width: 100%;
    height: 35px;
    align-items: center;
    font-size: 0.9rem;
    padding: 20px 10px;

    >h2{
        margin: 0 auto;
        text-decoration: underline;

    }
}







.adding-stock-icon {
    width: 35px;
    height: 35px;
    align-self: center;
    cursor: pointer;
    
}

.add-product-box {
    position: absolute;
    top: 120px;
    left: 0px;
    right: 0;
    justify-self: center;
    align-self: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: calc(100vh - 120px);
    margin: 0 auto;


    >.adding-product {
        margin: 25px;
        width: 300px;
        background-color: var(--primary-color);
        justify-self: center;
        align-self: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-radius: 25px;
        padding: 25px 10px;

        >h2 {

            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 10px;

            >span {
                width: 35px;
                height: 35px;
            }
        }

        >label {
            display: flex;
            flex-wrap: nowrap;
            color: var(--text-color);
            margin-left: 10px;

            >input {
                width: 50%;
                margin-left: auto;
                background-color: var(--secondary-color);
                border: none;
                border-radius: 20px;
                margin-right: 10px;

            }

            >select {
                width: 50%;
                margin-left: auto;
                background-color: var(--secondary-color);
                border: none;
                border-radius: 20px;
                margin-right: 10px;

                >option {
                    width: 50%;
                    margin-left: auto;
                    background-color: var(--secondary-color);
                    border: none;
                    border-radius: 20px;
                    margin-right: 10px;
                }
            }
        }


        >button {
            width: fit-content;
            margin: 0 auto;
            background-color: var(--secondary-color);
            padding: 10px 20px;
            border-radius: 25px;
            border: none;

            margin-top: 15px;
        }
    }
}

@media only screen and (max-width: 650px){
    .Dashboard-bottom {
        flex-direction: column;
    }
    .producer-dashboard {
        margin-bottom: 10px;
    }
}