.account-page-container {

    display: flex;
    justify-content: space-between;
    align-items: center;

    >.image-container {
        >img {
            height: 78.5dvh;
            width: 55dvw;
            margin: -10px;

            top: 70px;
            z-index: 1;
            border-radius: 0 300px 300px 0;
        }
    }

    >.form-container {
        margin: 0 auto;
    }

    .account-box-container {
        display: flex;
        flex-direction: column;
        min-height: 400px;
        justify-content: space-between;
        min-width: 300px;
        text-align: center;
        background-color: var(--secondary-color);
        padding: 25px;
        border-radius: 20px;

        >form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 20px;
            flex-wrap: nowrap;


            >label {
                display: flex;
                flex-wrap: nowrap;
                color: var(--text-color);

                >input {
                    width: 50%;
                    margin-left: auto;
                    background-color: var(--primary-color);
                    border: none;
                    border-radius: 20px;

                }

                >select {
                    width: 50%;
                    margin-left: auto;
                    background-color: var(--primary-color);
                    border: none;
                    border-radius: 20px;

                    >option {
                        width: 50%;
                        margin-left: auto;
                        background-color: var(--primary-color);
                        border: none;
                        border-radius: 20px;
                    }
                }
            }

            >button {
                width: fit-content;
                margin: 0 auto;
                background-color: var(--primary-color);
                padding: 10px;
                border-radius: 25px;
                border: none;
                border-radius: 20px;

            }



        }

        >.form-changer {
            cursor: pointer;
            text-decoration: underline;
        }
    }

}

@media only screen and (max-width: 810px) {
    .image-container {
        display: none;
    }

    .account-box-container {
        margin: 10px;
    }
}
.submit {
    width: fit-content;
    margin: 0 auto;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 25px;
    border: none;

    margin-top: 25px;
}